.lmj-shopping-list {
    width: 100%;
}

.lmj-plant-list {
    list-style-type: none;
    padding: 32px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.addToCartButton {
    position: relative;
    top: -47px;
    left: 170px;
    background-color: #31b472;
    color: white;
    padding: 5px;
    font-weight: 500;
    border: none;
}